:root {
    --cinzaClaro: rgba(117, 117, 117, 0.733);
    --cinzaEscuro: gray;
    --cinzaEscuroLeve: rgb(73, 73, 73);
    --selection: rgb(0, 162, 255);
}

body {
    background-image: url("https://casacor.abril.com.br/wp-content/uploads/sites/7/2020/09/Breaking-news-thumb-SC-2.jpg?quality=90&strip=info&w=1920&h=821&crop=1");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    overflow-y: visible;
    user-select: none;
}


html {
    font-family: 'Open sans';
    font-size: 17px;
}


.logo_casacor {
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: center;
    padding: 25px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.418) 0px 12px 48px;
}

/* MENU SLIDER */
/*
 |
 |
 |
 \/
*/
.caixa {
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    position: fixed;
    height: 100%;
    width: 300px;
    top: 0;
    z-index: 2;
    transition: 1s;
}

.caixa-close {
    left: -450px;
}

.caixa-open {
    left: 0px;
}

.caixa .menu-items {
    display: flex;
    flex-direction: column;
    font-size: 20pt;
    cursor: pointer;
    vertical-align: middle;
}

.caixa .menu-items a {
    color: rgb(43, 43, 43);
    text-decoration: none;
    border-bottom: 1px solid var(--cinzaClaro);
    padding: 10px;
}

.caixa .menu-items a:nth-child(1) {
    border-top: 1px solid var(--cinzaClaro);
}

.caixa span {
    padding: 10px;
    width: 100%;
    font-size: 30px;
}

.caixa div span i {
    cursor: pointer;
}

.caixa h1 {
    text-align: center;
}

.caixa .texto {
    border-bottom-color: var(--cinzaClaro);
}


.menu-background {
    position: absolute;
    z-index: 2;
    margin: 20px;
    padding: 20px;
    transition: 1s;
    left: 0px;
}

.menu-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: rgb(7, 7, 7);
    transition: all 1s ease-in-out;
}

.close-icon .bar:nth-child(1) {
    transform: rotate(360deg);
}

.close-icon .bar:nth-child(2) {
    transform: rotate(360deg);
}

.close-icon .bar:nth-child(3) {
    transform: rotate(360deg);
}
